<div class="gb-ad-stack">
  {{mount-widget widget="ad" args=(hash slotName="house_top_slot_1")}}
  {{mount-widget widget="ad" args=(hash slotName="house_top_slot_2")}}
  {{mount-widget widget="ad" args=(hash slotName="house_top_slot_3")}}
  {{mount-widget widget="ad" args=(hash slotName="house_top_slot_4")}}
  {{mount-widget widget="ad" args=(hash slotName="house_top_slot_5")}}
  {{mount-widget widget="ad" args=(hash slotName="house_top_slot_6")}}
</div>
