<div class="gb-ad-stack">
  {{ad-slot placement="topic-list-top"}}
  {{ad-slot placement="topic-list-top2"}}
  {{ad-slot placement="topic-list-top3"}}
  {{ad-slot placement="topic-list-top4"}}
  {{ad-slot placement="topic-list-top5"}}
  {{ad-slot placement="topic-list-top6"}}
  {{ad-slot placement="topic-list-top7"}}
  {{ad-slot placement="topic-list-top8"}}
  {{ad-slot placement="topic-list-top9"}}
  {{ad-slot placement="topic-list-top10"}}
</div>
